@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EntityLayer
@model List<Checks>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
        <h2>
            Çekler
        </h2>
        <a class="btn btn-success" asp-controller="Supplier" asp-action="AddSupplier">+ Yeni Cari</a>
    </div>
    <div class="input-group mb-3  w-50">
        <input type="text" class="form-control" id="searchInput" placeholder="Filtrele">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="clearFilter">Temizle</button>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Tedarikçi Adı</th>
                <th>Tedarik Niteliği</th>
                <th>Plesiyer</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody id="supplierTable">
            @foreach (var supplier in Model)
            {
                <tr>
                    <td>@supplier.ReceiptId</td>
                    <td>@supplier.CheckBank</td>
                    <td>@supplier.CheckBranch</td>
                    @* <td>
                        @if (supplier.Status)
                        {
                            <span class="status-active" style="color: green;font-weight: bold;">Aktif</span>
                        }
                        else
                        {
                            <span class="status-inactive" style="color: red;font-weight: bold;">Pasif</span>
                        }
                    </td> *@
                    @* <td>
                        <a asp-action="Details" asp-controller="Supplier" asp-route-id="@supplier.SupplierId" class="btn btn-sm btn-info">Detay</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#supplierTable tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });

        $('#clearFilter').on('click', function () {
            $('#searchInput').val('');
            $('#supplierTable tr').show();
        });
    });
</script>